/*!
 * Alperen AKKAYA | Crpsem |  
 *	instagram.com/alperenakkaya05 #df2121
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('genel.css');
body {
    padding-top: 70px;
	font-family: 'Source Sans Pro', sans-serif;
	background:#eaeaea;
	background-image:url('https://image.freepik.com/free-vector/grey-linen-texture-background_1053-253.jpg');
}
.container a {
	color:#df2121 !important;
}
/* Menü Düzenlemeleri HBLOG */
.navbar-inverse {
	background-color:#df2121 !important;
	border-color:transparent !important;
	color:#ffffff !important;
}
.navbar-inverse .navbar-brand {
	color:#ffffff !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color:#000000;
}
.navbar-inverse .navbar-toggle {
	border-color:#ffffff !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color:#000000 !important;
}
.navbar-inverse .navbar-nav>li>a {
	color:#ffffff !important;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color:#e0e0e0 !important;
	text-shadow:1px 2px 3px #000000;
	transition:0.4s;
}
/* Menü Düzenlemeleri Bitti */

/* Sayfalama Tasarımı */
.pagination>li>a, .pagination>li>span {
	color:#df2121 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color:#ffffff !important;
	background-color:#df2121 !important;
	border-color:#bd1c1c !important;
}
/* Sayfalama Tasarımı Bitti */

/* Sağ İçerikler */
.panel-default {
	border-color:#df2121 !important;
}
.panel-default>.panel-heading {
	background-color:#df2121 !important;
	border-color:#df2121 !important;
	color:#ffffff !important;
}
/* Sağ İçerikler Bitti */
.form-control:focus {
	border-color:#000000;
}
footer {
    margin: 50px 0;
}